# ======================================================================================================================
# Different stages for pipelines
# See https://docs.gitlab.com/ee/ci/pipelines/
# ======================================================================================================================
stages:
  - test

# ======================================================================================================================
# Docker image for runner
# See https://docs.gitlab.com/runner/
# ======================================================================================================================
image: node:22-alpine

# ======================================================================================================================
# Install npm packages for tasks
# Not processed directly because of the dot (.) at the beginning, but used later in tasks via `extends`
# ======================================================================================================================
.distributed:
  interruptible: true
  only:
    - merge_requests
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store/
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm config set store-dir .pnpm-store
    - pnpm run init

# ======================================================================================================================
# Lint jobs
# ======================================================================================================================
lint:
  stage: test
  extends: .distributed
  only:
    - merge_requests
  script:
    - pnpm run lint

# ======================================================================================================================
# Tests jobs
# ======================================================================================================================
api:test:
  stage: test
  extends: .distributed
  only:
    - merge_requests
  services: [mongo]
  script:
    - pnpm run api:test

app:test:
  stage: test
  image: mcr.microsoft.com/playwright:v1.47.2-noble
  extends: .distributed
  timeout: 20 hours 30 minutes
  only:
    - merge_requests
  script:
    - pnpm run app:test
    - echo "https://$CI_PROJECT_NAMESPACE.gitlab.io/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/playwright-report/index.html"
  artifacts:
    when: always
    paths:
      - playwright-report
    expire_in: 2 days

# ======================================================================================================================
# Build jobs
# ======================================================================================================================
build:
  stage: test
  extends: .distributed
  only:
    - merge_requests
  script:
    - pnpm run build
